.AwardsSection{
    &:after{
        content: url("/assets/whiteGreyFrame.svg");
        position: absolute;
        bottom: -78px;
        height:80px;
        width:100%;
    }
    .awards{
        &>div{
            &:nth-child(odd){
                @extend .margin-t-13;
            }
           
        }
    }
}
@include media-breakpoint-down(md){
    .AwardsSection{

        .awards{
            &>div{
                &:nth-child(odd){
                    margin-top:0;
                }
               
            }
        }
    }
}

