.blueSection{
    &:after{
        content: url("/assets/blueFrame.svg");
        position: absolute;
        bottom: -78px;
        height:80px;
        width:100%;
    }
   .manageCards{
        border-bottom-right-radius: 80px;
        button{
            &:hover{
                @extend .btn-outline-blue
            }
        }
        .bankCard{
            background-image: url("/assets/card.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }
   }
}